# Import Libraries

In [37]:
import numpy as np
import pandas as pd
import nltk

from utils import *

pd.options.mode.chained_assignment = None

# Load Data

In [38]:
data_path = '../data/'
pos_tweets_file = 'train_pos.txt'
neg_tweets_file = 'train_neg.txt'

In [68]:
pos_tweets = pd.read_table(data_path+pos_tweets_file, names=['text','label'])
pos_tweets['label'] = 'pos'
neg_tweets = pd.read_table(data_path+neg_tweets_file ,names=['text','label'])
neg_tweets['label'] = 'neg'

In [69]:
pos_tweets.head()

                                                text label
0  <user> i dunno justin read my mention or not ....   pos
1  because your logic is so dumb , i won't even c...   pos
2   <user> just put casper in a box !  looved the...   pos
3  <user> <user> thanks sir > > don't trip lil ma...   pos
4  visiting my brother tmr is the bestest birthda...   pos

In [70]:
neg_tweets.head()

                                                text label
0  vinco tresorpack 6 ( difficulty 10 of 10 objec...   neg
1  glad i dot have taks tomorrow ! ! #thankful #s...   neg
2  1-3 vs celtics in the regular season = were fu...   neg
3  <user> i could actually kill that girl i'm so ...   neg
4  <user> <user> <user> i find that very hard to ...   neg

In [71]:
print('positive tweets shape: ',pos_tweets.shape)
print('negative tweets shape: ',neg_tweets.shape)

positive tweets shape:  (97902, 2)
negative tweets shape:  (99068, 2)

In [76]:
tweets = pd.concat([pos_tweets, neg_tweets], axis=0)

In [77]:
tweets.head()

                                                text label
0  <user> i dunno justin read my mention or not ....   pos
1  because your logic is so dumb , i won't even c...   pos
2   <user> just put casper in a box !  looved the...   pos
3  <user> <user> thanks sir > > don't trip lil ma...   pos
4  visiting my brother tmr is the bestest birthda...   pos

In [78]:
tweets.tail()

                                                    text label
99063   can't wait to fake tan tonight ! hate being pale   neg
99064  <user> darling i lost my internet connection ....   neg
99065  kanguru defender basic 4 gb usb 2.0 flash driv...   neg
99066                                   rizan is sad now   neg
99067                        no text back ? yea , he mad   neg

In [8]:
from nltk.corpus import twitter_samples
twitter_samples.fileids()

['negative_tweets.json', 'positive_tweets.json', 'tweets.20150430-223406.json']